* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    /* grid-area: presentacion; */
    width: auto;
    height: 700px;
    background-image: url("/PreEntrega2_DiPaola/img/fondo3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.whatsapp {
    background-color:none;
    position: sticky;
    top: 160px;
    width: 40px;
    height: 40px;
}

/*header*/
    /*header grid*/
.header{
    grid-area: header;
    background-color:rgba(255, 182, 193, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky; /*se pega el elemento como el fixed pero cuando llega a la posición indicada */
    top:0px;
    left:0px;
}

.header img{
    width: 110px;
    height: 110px;
    border-radius: 20px;
    padding:10px;
}

.header h1 {
    font-family:"Kaushan_Script";
    color: rgb(128, 32, 32);
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}

/*sobre nav y el menú*/
    /*nav grid*/
nav{
    /* grid-area: nav; */
    width: auto;
    padding: 1rem;
    font-family: "Kaushan_Script";
}

.menu{
    list-style-type: none; /*que no tenga puntito la lista*/
    margin: 7px;
    text-align: right;
    
}
.menu li{
    display: inline-block; 
    text-align: center;
    width: auto;
    margin:10px;
    background-color: #f08c4a93;
    padding: 10px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block !important;  
}

.menu li a{
    text-decoration: none;
    padding: 5px;
    color:black;
}

.menu li:hover{
    background-color:rgba(240, 231, 232, 0.6);
    border-radius: 20px;
}

.menu li a:hover{
    color:lightsalmon;
}

ul li:hover ul{
    background-color:rgba(240, 231, 232, 0.6);
    display: block;

}


/*tipografía sólo del título/logo*/
@font-face {
    font-family:"Kaushan_Script";
    src: url("./Kaushan_Script/KaushanScript-Regular.ttf");
}


aside{
    box-sizing: content-box;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.caracteristica {
    width:300px;
    height: auto;
    margin:auto;
    text-align: center;
    padding: 30px;
}

.caracteristica p {
    padding: 10px;
}

.caracteristica h1:hover{
    color:rgba(56, 50, 51, 0.233);
    border-radius: 20px;
}

.separador {
    background-color: rgba(228, 176, 79, 0.438);
    width:auto;
    height:auto;
    text-align: center;
    padding-top:13px;
}

    /*footer grid*/
.footer {
    grid-area: footer;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}


.footer .redes {
    width:300px;
    height: auto;
    margin:auto;
}

.footer p{
    padding: 10px;
}

.footer a{
    margin: 10px;
}

.footer .ubicacion {
    width:800px;
    height: auto;
    margin: 0px;
}









/*PAGINA PRODUCTOS*/
/* ver de hacerlo con grid!! */
#productosTotales {
    background-color: rgb(39, 88, 180);
    width: auto;
    height: auto;
    padding: 0.5rem;
    display: flex; /*las cajas, haganse flexibles independientemente del tamaño, para que entren en su padre contenedor*/
    flex-direction: column; /*column, hay mas*/
    flex-wrap: nowrap;/*tres opciones, nowrap, wrap y wrap diverse, por defecto es nowrap*/
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

#panesPizzas, #budinesMuffins, #tortas{
    background-color: rgb(39, 88, 180);
    width: auto;
    height: auto;
    padding: 0.5rem;
    display: flex; /*las cajas, haganse flexibles independientemente del tamaño, para que entren en su padre contenedor*/
    flex-direction: row; /*column, hay mas*/
    flex-wrap: wrap;/*tres opciones, nowrap, wrap y wrap diverse, por defecto es nowrap*/
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

/*div de producto*/
#productosTotales .producto {
    width: auto;
    height: auto;
    margin: 0.9rem;
}

/*img*/
#productosTotales .producto img{
    width: 200px;
    height: 200px;
}

.instagram-media {
    width: 500px;
    height: 700px;
}



/*PAGINA NOSOTROS*/
.nosotros {
    background-color: rgb(184, 176, 153);
    text-align: center;
    padding:30px;
    margin: 0px;;
}

.nosotros h1, h2, p {
    padding: 3px;
}


/*PAGINA ALIMENTACION*/
.grilla {
    display: grid;
    grid-template-areas:
      "header header"
      "section1 section "
      "section2 section3 "
      "section5 section4 "
      "section6 section7 "
      "footer footer ";
    grid-template-rows: auto 500px 500px 500px 500px auto;
    grid-template-columns: 1fr 1fr;
 }


.alimentacion {
    width: auto;
    display: flex;
    flex-direction: column; /*column, hay mas*/
    flex-wrap: nowrap;
    grid-area: section;
    text-align:center;
    margin: 0px auto; /*centra la section dentro de la grilla*/
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}

.imagenAlimentacion1 {
    width: auto;
    grid-area: section1;
    text-align:center;
    margin: 0px auto;
}

.alimentacion2 {
    width: auto;
    display: flex;
    flex-direction: column; /*column, hay mas*/
    flex-wrap: nowrap;
    grid-area: section2;
    text-align:center;
    margin: 0px auto;
    margin-left: 80px;
    margin-right: 80px;
}

.imagenAlimentacion2 {
    width: auto;
    grid-area: section3;
    text-align:center;
    margin: 0px auto;

}

.alimentacion3 {
    width: auto;
    display: flex;
    flex-direction: column; /*column, hay mas*/
    flex-wrap: nowrap;
    text-align:center;
    padding-top: 80px;
    margin: 0px auto;
    margin-left: 80px;
    margin-right: 80px;
}

.imagenAlimentacion3 {
    width: auto;
    grid-area: section5;
    text-align:center;
    margin: 0px auto;

}

.alimentacion4 {
    width: auto;
    display: flex;
    flex-direction: column; /*column, hay mas*/
    flex-wrap: nowrap;
    text-align:center;
    padding-top: 80px;
    margin: 0px auto;
    margin-left: 80px;
    margin-right: 80px;
}

.imagenAlimentacion4 {
    width: auto;
    grid-area: section7;
    text-align:center;
    margin: 0px auto;

}





/*PAGINA CONTACTO*/






/*vista mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px){
	
    .header {
        flex-direction: column;
    }
    
    .menu li{
        text-align: center;
        margin: 3px;
        padding: 6px;}

    aside{
        box-sizing: content-box;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    
    .caracteristica {
        width:auto;
        height: auto;
        margin:auto;
        text-align: center;
        padding: 10px;
    }

    .grilla {
        display: grid;
        grid-template-areas:
          "header"
          "section"
          "section1 "
          "section2 "
          "section3 "
          "section4 "
          "section5 "
          "section6 "
          "section7 "
          "footer";
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 100%;
     }


.caracteristica {
    width:300px;
    height: auto;
    margin:0px;
    text-align: center;
    padding: 10px;
}
     }



/*vista desktop*/
 /* @media only screen and (min-width: 768px){
	.gridContainer{
			display: grid;grid-template-areas:
			"navIzq navIzq header header navDer navDer"	"parrafo parrafo parrafo img img img""footer footer footer footer footer footer"; grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;grid-template-rows: 100px auto 200px; }
		header{grid-area:header; text-align: center;}
		div.navIzq{grid-area: navIzq;} .navIzq ul, .navDer ul {display: flex; justify-content: space-around;}
		li{padding: 10px; list-style-type: none; position: relative; top: 20px;}
		div.navDer{grid-area: navDer;}
		section.parrafo{grid-area: parrafo;}
		section.imgParrafo{grid-area: img;}
		footer{grid-area: footer;display:flex; justify-content: space-around;}	
} */